* {
    /* border: 1px solid red; */
}

body {
    background-color: snow;
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
        align-items: center;
        /* align-content: center; */
        justify-content: center;
}

.input {
    display: flex;
        flex-direction: row;
        align-content: center;
}

.bit {
    display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    background-color: #535c68;
    height: 4em;
    width: 4em;
    margin: .5em;
    border-radius: .5em;
}

.bit:after {
    content: "_";
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    color: white;

    transition: all 1s;
}
/* special class to add a 0 to el */
.zero:after {
    content: '0';
}
/* special class to add 1 to el */
.one:after {
    content: '1';
}