/* * {
    border: 1px solid red;
} */

body {
    background-color: #ecf0f1;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
}
.info {
    position: absolute;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    background-color: #eb4d4b;
    color: snow;
    height: 2em;
    padding: 0 .5em;
    border-radius: .25em;
    transition: top 1s, display .1s;
}
.info p {
    margin: 0;
    margin-right: .1em;
    line-height: 0;
}
.info i:hover {
    cursor: pointer;
}
.input {
    display: flex;
        flex-direction: row;
        /* align-content: center; */
        align-items: center;
        justify-content: center;
    /* flex-grow: 1; */
}

.bit {
    display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    background-color: #535c68;
    height: 4em;
    width: 4em;
    margin: .5em;
    border-radius: .5em;
}

.bit::before {
    content: "_";
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
    color: white;
}
/* special class to add a 0 to el */
.zero::before {
    content: '0';
}
/* special class to add 1 to el */
.one::before {
    content: '1';
}
/* special class to add accent dot */
.accent::after {
    content: "\25cf";
    position: relative;
    color: #1abc9c;
    top: 1.5em;
    line-height: 0;
    /* margin-left: calc(50% - 0.5em); */
}

.accent.blink::after {
    display: none;
}

.output-container {
    background-color: #7ed6df;
    border-radius: 1em;
    padding: 1em .75em;
}
.output {
    background-color: snow;
    height: 9.5em;
    width: 9.5em;
    margin: 0;
    border-radius: .5em;

    display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.output::before {
    content: attr(data-output);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8em;
    font-weight: auto;
    color: #535c68;
}